/* custom fileuploader.css*/
.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 105px; padding: 7px 0; text-align:center;    
    background:#0074CC; border-bottom:1px solid #ddd;color:#fff;

background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
background-image: -o-linear-gradient(top, #0088cc, #0055cc);
background-image: linear-gradient(top, #0088cc, #0055cc);
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
border-radius: 4px;

 
}
.qq-upload-button-hover {background:#003580;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    width:100%; height:100%;
    background:#D9EDF7; text-align:center;
	border-radius: 4px;
	color: #3A87AD;
	font-size: 18px;
	font-weight: bold;
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 10px; left: 120px; width:75%; padding-top: 17px; min-height: 40px; margin-top:-20px; font-size:16px; background:#D9EDF7;
}
.qq-upload-drop-area-active {
	background:#3A87AD;
color:white;
}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-cancel {
	margin-right: 7px;
	display: none;
}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url(../images/spinner.gif); width:15px; height:15px; vertical-align:text-bottom;}

.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}
